@import "tailwindcss";

@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --color-background: #ffffff;
  --color-foreground: #1f2937;

  --color-primary: #ff7a00;
  --color-primary-foreground: #ffffff;

  --color-secondary: #f5f7fa;
  --color-secondary-foreground: #4b5563;

  --color-accent: #fff8f0;
  --color-accent-foreground: #334155;

  --color-destructive: #ef4444;
  --color-destructive-foreground: #ffffff;

  --color-muted: #f9fafb;
  --color-muted-foreground: #6b7280;

  --color-card: #ffffff;
  --color-card-foreground: #1f2937;

  --color-border: #e5e7eb;
  --color-input: #e5e7eb;

  --color-ring: #ff7a00;
}
